*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EA7979;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 29px;
    gap: 150px;
    font-size: 24px;
    margin-right: 85px;
}

.home{
    text-decoration: none;
    color: black;
}

.contact{
    text-decoration: none;
    color: black;
}

.help{
    text-decoration: none;
    color: black;
}

.site{
    position: absolute;
    width: 131px;
    height: 30px;
    left: 70px;
    top: 30px;
    text-decoration: none;
    color: black;
}

.carol{
    width: 1200px;
    margin-top: 80px;
    margin-left: 36px;
    border-radius: 66px;
 }

.container{
    display: flex;
}

.title{
    margin-top: 60px;
    font-size: 24px;
    margin-left: 224px;
}

.text{
    margin-top: 30px;
    margin-left: 14px;
    font-weight: bold;
}

h2{
    margin-left: 175px;
}

.leia{
    margin-left: 265px;
    margin-top: 60px;
}

.jogos{
    display: flex;
    gap: 255px;
    margin-top: 93px;
    margin-left: 110px;
}

.jogo1 img{
    width: 400px;
    border-radius: 20px;
}

.jogo2 img{
    width: 400px;
    border-radius: 20px;
}

.jogo3 img{
    width: 400px;
    border-radius: 20px;
}
    
